
.ipynb_checkpoints/initial_sim copy-checkpoint.ipynb
.ipynb_checkpoints/initial_sim-Copy1-checkpoint.ipynb
.ipynb_checkpoints/initial_sim-checkpoint.ipynb
initial_sim-Copy1.ipynb
initial_sim.ipynb
initial_sim.ipynb
initial_sim.ipynb
*.ipynb
